@import "../../../../css/constants.scss";

.container {
  border-top: 1px solid $gray1;
  padding: 16px;
  display: flex;
  flex-direction: row;
}

.send {
  background: $white;
  color: $blue;
  height: 48px;
  border: 1px solid $white;
  border-radius: 5px;
  font-size: medium;
  margin-left: 16px;
}