@import "../../../../css/constants.scss";

.roomName {
  background: $white;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-bottom: 1px solid $gray1;
}

.name,
.users {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.name {
  margin: 0;
  padding: 0;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
  color: $gray3;
}

.users {
  font-size: 14px;
  color: $gray3;
}

.user:first-child span:first-child {
  color: $pink;
}

.user:not(:last-child) {
  margin-right: 4px;
}
