@import "../../css/constants.scss";

.input {
  background-color: $white;
  width: 100%;
  height: 16px;
  height: 50px;
  font-size: medium;
  padding: 0 16px;
  border: 2px solid $gray1;
  border-radius: 5px;
  color: $gray2;
}
