@import "../../../../css/constants.scss";

.room {
  width: 100%;
  background: $pink;
  color: white;
  border: none;
  padding: 16px;
  font-size: 16px;
  display: flex;

  &.selected {
    background: $dark-pink;
  }
}

