@import "../../../../css/constants.scss";

.chat {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 250px;
  height: 100vh;
}

.roomName {
  flex: 0 0 auto;
}

.messages {
  flex: 1 1 auto;
  overflow-y: auto;
  background-color: $gray4;
  padding: 0 16px;
}