@import "../../../../css/constants.scss";

.container {
  position: fixed;
  width: 250px;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  background-color: $pink;
  color: $white;
}

.userContainer {
  padding: 16px;
}

.user {
  margin: 0;
  padding: 0;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}

.rooms {
  list-style: none;
  margin: 0;
  padding: 0;
}