@import "../../../../css/constants.scss";

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  h6 {
    color: $gray3;
    margin: 0;
  }

}

.ownMessage,
.message {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  p {
    padding: 16px;
    border-radius: 16px;
    max-width: 50%;
  }
}

.ownMessage {
  justify-content: flex-end;

  p {
    background-color: $pink;
    color: $white;
  }
}

.message {
  justify-content: flex-start;

  p {
    background-color: $white;
    color: $gray3;
  }
}


